img {
    width: 200px;
    height: 200px;
}

.test {
    width: 200px;
    height: 200px;
}

.drop-area {
    border: 2px dashed #ccc;
    padding: 10px;
    margin: 10px;
    width: 500px;
    

}

/* use */
.my-display-image-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 70px;
}

/* use */
.my-display-image-input-info {
    background-color: red;
    min-width: 400px;
}

/* use */
input[type="file"] {
    color: transparent;
}
